<header class="p-3 bg-body">
  <h1>{{ title }}</h1>
  <p>A simple Mastodon client</p>
</header>
<div class="sticky-top bg-body border-bottom">
  <button type="button" class="btn" routerLink="" routerLinkActive="active">
    Home
  </button>
  <button
    type="button"
    class="btn"
    routerLink="bookmarks"
    routerLinkActive="active"
  >
    Bookmarks
  </button>
  <button
    type="button"
    class="btn"
    routerLink="reviews"
    routerLinkActive="active"
  >
    Reviews
  </button>
  <button
    type="button"
    class="btn"
    routerLink="about"
    routerLinkActive="active"
  >
    About
  </button>
</div>
<router-outlet></router-outlet>
