<div class="bg-body-secondary">
  <div class="container-md">
    <form [formGroup]="formGroup">
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('author')?.invalid &&
              formGroup.get('author')?.touched
          }"
          type="text"
          id="author"
          rows="3"
          formControlName="author"
          name="author"
        />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Review</label>
        <textarea
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('content')?.invalid &&
              formGroup.get('content')?.touched
          }"
          id="content"
          rows="3"
          formControlName="content"
          name="content"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <select
          class="form-control"
          id="rating"
          type="number"
          formControlName="rating"
          name="rating"
        >
          <option value="0">Negative</option>
          <option value="1">Neutral</option>
          <option value="2">Positiv</option>
        </select>
      </div>
      <button
        type="button"
        class="btn btn-primary"
        (click)="addReview()"
        [disabled]="formGroup.invalid"
      >
        Submit
      </button>
    </form>
    <div class="card mb-3 mt-3" *ngFor="let review of reviews">
      <div class="card-body">
        <h5 class="card-title">{{ review.author }}</h5>
        <p class="card-text">{{ review.content }}</p>
        <ng-container [ngSwitch]="review.rating.toString()">
          <i
            *ngSwitchCase="ReviewRating.Negative.toString()"
            class="bi bi-hand-thumbs-down text-danger"
          ></i>
          <i
            *ngSwitchCase="ReviewRating.Neutral.toString()"
            class="bi bi-dash-square text-warning"
          ></i>
          <i
            *ngSwitchCase="ReviewRating.Positive.toString()"
            class="bi bi-hand-thumbs-up text-success"
          ></i>
        </ng-container>
      </div>
    </div>
  </div>
</div>
