<div
  class="container-sm p-0 m-3 border border-0 rounded shadow bg-body"
  style="max-width: 48rem"
>
  <div class="card">
    <img
      class="card-img-top"
      *ngIf="post.media_attachments.length > 0"
      [src]="post.media_attachments[0].preview_url"
    />
    <div class="card-body">
      <img class="avatar" [src]="post.account.avatar" />
      <h3 class="card-title">{{ post.account.display_name }}</h3>
      <p class="card-subtitle">{{ post.account.username }}</p>
    </div>
    <div class="p-3">
      <div [innerHTML]="post.content"></div>
      <p>{{ post.created_at | date }}</p>
    </div>
    <button
      class="btn ms-auto m-2"
      [class.btn-primary]="isBookmarked"
      [class.btn-outline-primary]="!isBookmarked"
      (click)="onBookmarkButtonClick()"
    >
      <i class="bi bi-bookmark"></i>
    </button>
  </div>
</div>
